<header>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
        <button class="navbar-toggler d-lg-none" type="button" data-target="#collapsibleNav" data-toggle="collapse" aria-controls="collapsibleNav" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNav">
            <ul class="navbar-nav navbar-left">
                <li class="nav-item active">
                    <a href="#" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="navbar-brand-center"><a href="#" class="navbar-brand">PersianBuddy</a></div>
        
        <div class="socialnav d-lg-inline d-sm-none">
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a href="#" class="nav-link"><span class="fa fab fa-github"></span></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><span class="fa fab fa-instagram"></span></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><span class="fa  fab fa-facebook"></span></a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
</header>